<app-header></app-header>
<main>
  <app-post-create></app-post-create>
  <app-post-list></app-post-list>
  <app-config></app-config>
</main>

<!--
|-- ANGULAR:
  |-- Angular thinks in components.
  |-- Angular is a browser tye framework.
  |-- Index.html
    |-- [ <app-root> ] -> Loaded in index.html file - selector.
    |-- SCRIPTS IMPORT -> Injected.
  |-- MODULE -> [ Module.ts ] -> Defines feature & building block of application.
    |-- Application can be split into modules.
    |-- DECLARATIONS -> [  ] -> Registering component with angular - making angular aware of component.
    |-- BOOTSTRAP -> [  ] -> Root component.
      |-- All other components are nested inside the root component.
    |-- IMPORTS -> Imports modules need for application.
  |-- Main.ts -> Starts the Angular application - code in here executes first.
  |-- COMPONENT -> Create a component by creating a new class.
    |-- CLASS -> [Typescript & latest Javascript features] - allows for creation of object blueprint.
    |-- DECORATOR -> [ @ ] -> Turn class into a component angular understands by adding a decorator - @Component()
  |-- TYPESCRIPT ->
  |-- Outputting content:
    |-- STRING INTERPOLATION -> [ {{ property name }} ]
    |-- PROPERTY BINDING -> [ [property name] ]
    |-- LOCAL REFERENCE -> [ #property name ]
    |-- TWO-WAY BINDING -> [ [(Directive)]="method()" ]
  |-- [ (postCreated)="onPostAdded($event)" ]:
    |-- (POSTCREATED) -> event binding -> listening to (postCreated) event.
    |-- [ "OnPostAdded()" ] -> We're adding the post to storedPosts list.
    |-- EVENT -> [ $event ] -> Give access to data we emit.
    |-- [POSTS]="STOREDPOSTS" -> passing down storedpost list to app-post-list.
  |-- MODELS -> Blueprints defining how a content appears.
    |-- INTERFACE -> Simialar to Class -> Defines how an Object appears -> But can't be instantiated.

|-- HTTP CLIENT:
  |-- Most front-end applications communicate with backend services over the HTTP protocol.
  |-- Applications often request JSON data from the server.
    |--  App might need a configuration file on the server [ config.json ] that specifies resource URLs.
-->
